/*************************************Colors****************************/
/*color variables for backgrounds*/
$light-grey: #a7adb3;


/*************************************Typography****************************/
$base-font: Calibri;
$base-font-size: 1em; /* ~16px; */
$base-font-weight: 100;
$base-line-height: 1.375; /* ~22px */
$headings-font-weight: 800;


/*************************************Layout****************************/
$generic-padding: 15px;